<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheesecake NY</title>
    <link rel="shortcut icon" href="../Assets/archivos/favicom.jpg">

    <link rel="stylesheet" href="../Assets/css/estilos2.css">
  </head>


  <body>
    <!-- HEADER -->
     <header>

         <a class="conteinerLogo"href="#">
              <img src="../Assets/archivos/logo.jpg" alt="LOGO">
         </a>

         <div class="menuHamburguesa">
              <img src="../Assets/archivos/menu.jpg" alt="menu">
         </div>

        <nav>
           <ul>
             <li class="elementoLista"> <a href="#">Nosotros</a></li>
             <li class="elementoLista"> <a href="#">Recetas</a></li>
             <li class="elementoLista"> <a href="#">Tips</a></li>
             <li class="elementoLista"> <a href="#">Contacto</a></li>
          </ul>
       </nav>

      <h1>CHEESECAKE NEW YORK</h1>

      <div class="imagen">
        <img src="../Assets/archivos/cheesecake.jpg"alt="">
      </div>

    </header>
    <!-- MAIN -->

<main>

  <section id="introduccion">

    <h2>¡Clásica receta de la mejor tarta de queso norteamericana!</h2>
    <p>Te enseñamos a preparar el típico cheescake con frutos rojos, súper cremoso! Esta receta se adapta a otros sabores si quisiéramos, ya que podemos usar el mismo relleno del cheese pero reemplazar las galletitas de vainilla por unas de chocolate, y usar pulpa de maracuyá en lugar de los frutos rojos.<br>Recomendamos hacerlo uno o dos días antes de consumirlo para que pueda descansar en la heladera y así quede mucho mas cremoso!</p>
    <p>Al final les dejamos un video para que vean el procedimiento completo, y para los que no se llevan tan bien con la cocina recuerden que pueden comprar este mismo Cheescake NY desde nuestra tienda online, haciendo click en el siguiente enlace:</p>
    <a href="https://www.valuramallo.com/search/?q=cheesecake" target="_blank">IR A LA TIENDA ONLINE</a>

  </section>

  <section id="videoYoutube">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UbRmqY043P8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <p>Para descargar esta receta <a download href="../Assets/archivos/Cheesecake.pdf" >click aqui</a></p>

  </section>

  <section id="receta">
    <h3>INGREDIENTES</h3>
    <ul>
      <li>300 g de galletitas de vainilla</li>
      <li>100 g de manteca</li>
      <li>800 g de queso crema</li>
      <li>250 g de azúcar</li>
      <li>320 cc de crema de leche</li>
      <li>6 huevos</li>
      <li>100 cc de leche</li>
      <li>Una cdta de esencia de vainilla</li>
      <li>50 g de harina</li>
      <li>Mermelada de frutos rojos</li>
    </ul>

    <h3>PASO A PASO</h3>
  <ol>
  <li>Triturar las galletitas, agregar la manteca derretida y poner en la base de un molde desmoldable de 26 cm de diámetro</li>
  <li>Batir el queso crema con el azúcar, la crema de leche, los huevos, la leche y un chorrito de esencia de vainilla</li>
  <li>Agregar la harina</li>
  <li>Llevar a un horno mínimo, 150° durante una hora</li>
  <li>Llevar a la heladera durante 8 horas, desmoldar y colocar la mermelada de frutos rojos por encima</li>
  </ol>

  <h4>Listo! A disfrutar</h4>

  </section>
  
  <aside class="masRecetas">
    <h3>Últimas recetas</h3>
    <div class="brownieRogel">
      <img src="../Assets/archivos/rogel.jpg" alt="ROGEL">
    </div>
    <div class="brownieRogel">
       <img src="../Assets/archivos/brownie.jpg" alt="BROWNIE">
    </div>
  </aside>



</main>

<!-- FOOTER -->
<footer>
  <div class="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81377.1344898183!2d-74.05108761645742!3d40.71370478800924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNueva%20York%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sar!4v1620148939255!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

</footer>





  </body>
</html>
